
<div class="songs">

<h1>All Albums</h1>
<% @songs.each do |song| %> 
<%# Ruby synthex doesn't need the equal sign %>

<h4><a href="/songs/<%= song.id %>"><%= song.title %></a> 
<small>::: by: <%= song.author %></small></h4>
<a href="<%= song.url %>" style="text-decoration: none">
<small><%= song.url %></small></a>
<p></p>
<% end %>

<a href="/songs/new">
<button type="button" class="btn btn-info">
<font size=4em ><font color="white">Create New</font>
</button>
</a>

</div

